{{- define "main" -}}
  {{ $numCols := math.Floor .Site.Params.columns | default 2 }}
  {{ $icontext := .Site.Params.icontext | default false }}
  {{ $tooltip := .Site.Params.tooltip | default false }}
  {{ $monochrome := .Site.Params.monochrome | default false }}

  {{ if ge $numCols 7 }}
    {{ $numCols = 6 }}
  {{ end }}

  {{/* Select CSS classes based on monochrome setting */}}
  {{ $mainclass := "" }}
  {{ $svgclass := "" }}
  {{ $textclass := "" }}
  {{ $gridclass := "" }}
  {{ $mdgridclass := printf "grid-cols-md-center%.0f" $numCols }}
  {{ if $monochrome }}
    {{ $mainclass = "link-mono" }}
    {{ $svgclass = "link_svg-mono" }}
    {{ $textclass = "text_svg-mono" }}
    {{ $gridclass = "grid-cols-center2-mono" }}
    {{ $mdgridclass = print $mdgridclass "-mono" }}
  {{ else }}
    {{ $mainclass = "link" }}
    {{ $svgclass = "link_svg" }}
    {{ $textclass = "text_svg" }}
    {{ $gridclass = "grid-cols-center2" }}
  {{ end }}


  <div class="links-container">
  {{ range .Site.Params.LinkGroups }}
    <div class="link-group">
      {{ with .name }}
        <h2 class="group-name text-3xl">{{ . }}</h2>
      {{ end }}
      <div class="{{ $gridclass }} {{ $mdgridclass }} mb-auto mt-8 grid justify-center gap-4">
        {{ range .links }}
          {{ $icon := .icon }}
          {{ $href := .href }}
          {{ $tooltip := .tooltip }}
          {{ $iconPath := resources.Get (print "icons/" $icon ".svg") }}
            <a class="link-with-name" href="{{ $href }}" target="_blank" rel="me noopener noreferrer" aria-label="{{ $icon }}">
              <div class="{{ $mainclass }} {{ if not $monochrome }}link-{{ $icon }}{{ end }} group">
                <span class="{{ $svgclass }}">
                  {{ if $iconPath }}
                    {{ $iconPath.Content | safeHTML }}
                  {{ else }}
                    <span class="icon-placeholder">?</span>
                  {{ end }}
                </span>
                {{ if $icontext }}
                  <span class="{{ $textclass }}">
                    <svg viewBox="0 0 400 400" xmlns="http://www.w3.org/2000/svg">
                      <defs>
                        <path id="arc" d="M 200, 200 m -140, 0 a 140,140 0 1,1 280,0" />
                      </defs>
                    </svg>
                  </span>
                {{ end }}
              </div>
              {{ if $tooltip }}
                <label class="text-xl link-name">
                  {{ strings.FirstUpper $tooltip }}
                </label>
              {{ end }}
            </a>
        {{ end }}
      </div>
    </div>
  {{ end }}
</div>
{{- end -}}
